In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
%matplotlib inline
import seaborn as sns
sns.set_context('poster')

## Models With MSA and Features

### Import, Split, and Standardize Data

In [2]:
start = datetime.datetime.time(datetime.datetime.now())

In [3]:
df = pd.read_pickle('../data/merged/all_data_2006_to_2016.pkl')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 928 entries, 0 to 927
Data columns (total 13 columns):
year                                                                           928 non-null int64
MSA_orig                                                                       928 non-null object
MSA                                                                            928 non-null object
MSA_abbr                                                                       928 non-null object
now_married_except_separated                                                   928 non-null float64
less_than_high_school_diploma                                                  928 non-null float64
unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months    928 non-null float64
households_with_food_stamp_snap_benefits                                       928 non-null float64
percentage_married_couple_family                                               928 non-null float64
percentage_female_householder_no_husband_present_family                        928 non-null float64
poverty_all_people                                                             928 non-null float64
house_median_value_(dollars)                                                   928 non-null int64
murder_per_100_k                                                               928 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 94.3+ KB

In [5]:
# remove outliers with atypically high murder rates
df = df[df.MSA_abbr != 'NEW_ORLEANS_LA']
df = df[(df.MSA_abbr != 'MEMPHIS_TN') | (df.year != 2016)]
df = df[(df.MSA_abbr != 'BATON_ROUGE_LA') | (df.year != 2007)]

In [6]:
# drop extra MSA names
df = df.drop(['MSA_orig', 'MSA'], axis=1)

In [7]:
# drop year
df = df.drop(['year'], axis=1)

In [8]:
df = pd.get_dummies(df, columns=['MSA_abbr'], drop_first=True)
df.head()

,now_married_except_separated,less_than_high_school_diploma,unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months,households_with_food_stamp_snap_benefits,percentage_married_couple_family,percentage_female_householder_no_husband_present_family,poverty_all_people,house_median_value_(dollars),murder_per_100_k,MSA_abbr_ALBANY_NY,...,MSA_abbr_TAMPA_FL,MSA_abbr_TOLEDO_OH,MSA_abbr_TUCSON_AZ,MSA_abbr_TULSA_OK,MSA_abbr_VIRGINIA_BEACH_NC,MSA_abbr_WASHINGTON_DC,MSA_abbr_WICHITA_KS,MSA_abbr_WINSTON_NC,MSA_abbr_WORCESTER_MA,MSA_abbr_YOUNGSTOWN_OH
0,50.5,9.9,28.0,8.8,75.7,18.0,13.4,147000,3.6,0,...,0,0,0,0,0,0,0,0,0,0
1,49.3,9.9,35.9,9.5,74.3,19.9,12.1,148300,3.4,0,...,0,0,0,0,0,0,0,0,0,0
2,48.1,10.1,42.4,12.0,73.2,20.7,14.7,142500,4.0,0,...,0,0,0,0,0,0,0,0,0,0
3,47.9,10.7,41.0,12.9,73.7,19.8,15.5,145000,3.7,0,...,0,0,0,0,0,0,0,0,0,0
4,46.8,9.1,38.2,14.5,72.9,21.7,16.6,139800,4.7,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# separate labels and features

label_col = 'murder_per_100_k'

x = df.drop([label_col], axis=1)
y = df[label_col]

print('Sizes match: {}'.format(len(x)==len(y)))

Sizes match: True

In [10]:
# train test split

from sklearn.model_selection import train_test_split

x_train_s, x_test_s, y_train, y_test = train_test_split(x,y, test_size=0.3)

print('Len x_train: {}'.format(len(x_train_s)))
print('Len x_test: {}'.format(len(x_test_s)))
print('Len y_train: {}'.format(len(y_train)))
print('Len x_test: {}'.format(len(y_test)))

Len x_train: 641
Len x_test: 275
Len y_train: 641
Len x_test: 275

In [11]:
# standardize data

from sklearn.preprocessing import StandardScaler
standardizer = StandardScaler().fit(x_train_s)

x_train = standardizer.transform(x_train_s)
x_test = standardizer.transform(x_test_s)

### Simple Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, BayesianRidge, HuberRegressor
from sklearn.model_selection import GridSearchCV

In [13]:
# instantiate and fit models

def make_models(x_train, y_train):
    md = dict()

    md['linear'] = LinearRegression().fit(x_train, y_train)
    md['ridge'] = RidgeCV(cv=15).fit(x_train, y_train)
    md['lasso'] = LassoCV(cv=15).fit(x_train, y_train)
    md['bayes'] = BayesianRidge(tol=0.0001).fit(x_train, y_train)
    md['huber'] = GridSearchCV(HuberRegressor(),{'epsilon': [1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7]}).fit(x_train, y_train).best_estimator_
    
    return md

In [14]:
# score models

def score_model(model):

    train_score = model.score(x_train, y_train)
    test_score = model.score(x_test, y_test)

    return np.array([train_score, test_score])

In [15]:
def results_df(model):

    # get train and test scores
    scores_df = pd.DataFrame(score_model(model)).transpose()
    scores_df.columns = ['Train R2','Test R2']

    # get coefficient matrix
    coeffs_df = pd.DataFrame(model.coef_).transpose()
    coeffs_df.columns = x.columns

    # join dataframes
    return pd.concat([scores_df, coeffs_df], axis=1)

In [16]:
from sklearn.utils import resample

In [17]:
def run_experiment(n_iters):
    
    sample_results = dict()
    
    for n in range(n_iters):
        # get new sample
        xb, yb = resample(x_train, y_train)

        # make and fit models
        model_dict = make_models(xb, yb)

        # get sample of results for each model
        for key in model_dict:
            
            # initialize empty dictionary
            if key not in sample_results:
                sample_results[key] = []
                        
            # get model results
            sample_results[key].append(results_df(model_dict[key]))
            
    # concatenate results dfs into single df
    for key in sample_results:
        sample_results[key] = pd.concat(sample_results[key])
        
    return sample_results

In [18]:
exp = run_experiment(200)

In [19]:
coef_dict = dict()

# iterate over all models
for key in exp:
    
    # iterate over results of this model
    for c in exp[key].columns:
        
        # initialize dict for result names
        if c not in coef_dict:
            coef_dict[c] = dict()
    
        # add this coeff to the dict
        coef_dict[c][key] = exp[key][c]

# convert dict of dicts into dict of dataframes
coef_dfs = {key: pd.DataFrame(coef_dict[key]) for key in coef_dict}

In [20]:
for key in exp:
    print(key)
    print()
    print(exp[key].mean())
    print()

linear

Train R2                                                                      -1.980912e+26
Test R2                                                                       -9.619120e+26
now_married_except_separated                                                   3.802521e-01
less_than_high_school_diploma                                                 -2.176901e-02
unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months    7.256730e-02
households_with_food_stamp_snap_benefits                                      -1.175360e-01
percentage_married_couple_family                                              -2.980993e-01
percentage_female_householder_no_husband_present_family                       -3.656386e-01
poverty_all_people                                                            -6.247338e-01
house_median_value_(dollars)                                                   4.641335e-02
MSA_abbr_ALBANY_NY                                                             3.503218e+09
MSA_abbr_ALBUQUERQUE_NM                                                        3.742143e+09
MSA_abbr_ALLENTOWN_PA                                                          3.245907e+09
MSA_abbr_ATLANTA_GA                                                            7.542301e+09
MSA_abbr_AUGUSTA_GA                                                            3.503218e+09
MSA_abbr_AUSTIN_TX                                                            -7.548489e+10
MSA_abbr_BAKERSFIELD_CA                                                        2.965426e+09
MSA_abbr_BALTIMORE_MD                                                          3.115515e+10
MSA_abbr_BATON_ROUGE_LA                                                        1.114072e+10
MSA_abbr_BIRMINGHAM_AL                                                         3.742143e+09
MSA_abbr_BOISE_ID                                                              3.742143e+09
MSA_abbr_BOSTON_MA                                                             2.965426e+09
MSA_abbr_BRADENTON_FL                                                         -6.428173e+10
MSA_abbr_BRIDGEPORT_CT                                                         3.742143e+09
MSA_abbr_BUFFALO_NY                                                           -1.487897e+10
MSA_abbr_CAPE_CORAL_FL                                                         3.742143e+09
MSA_abbr_CHARLESTON_SC                                                         3.245907e+09
MSA_abbr_CHARLOTTE_NC                                                          3.245907e+09
MSA_abbr_CHATANOOGA_TN                                                        -2.048681e+11
MSA_abbr_CHICAGO_IL                                                           -5.482135e+10
                                                                                   ...
MSA_abbr_PORTLAND_OR                                                           3.503218e+09
MSA_abbr_POUGHKEEPSIE_NY                                                      -2.850876e+12
MSA_abbr_PROVIDENCE_RI                                                         3.245907e+09
MSA_abbr_PROVO_UT                                                              3.503218e+09
MSA_abbr_RALEIGH_NC                                                           -1.375244e+09
MSA_abbr_RICHMOND_VA                                                           3.966006e+09
MSA_abbr_RIVERSIDE_CA                                                          3.245907e+09
MSA_abbr_ROCHESTER_NY                                                          3.503218e+09
MSA_abbr_SALT_LAKE_CITY_UT                                                     3.966006e+09
MSA_abbr_SANTA_ROSA_CA                                                         8.439470e+09
MSA_abbr_SAN_ANTONIO_TX                                                        3.742143e+09
MSA_abbr_SAN_DIEGO_CA                                                          3.503218e+09
MSA_abbr_SAN_FRANCISCO_CA                                                      3.245907e+09
MSA_abbr_SAN_JOSE_CA                                                           3.742143e+09
MSA_abbr_SEATTLE_WA                                                            3.966006e+09
MSA_abbr_SPOKANE_WA                                                            3.104999e+11
MSA_abbr_SPRINGFIELD_MA                                                        3.742143e+09
MSA_abbr_STOCKTON_CA                                                           3.503218e+09
MSA_abbr_ST_LOUIS_MO                                                           4.029795e+10
MSA_abbr_SYRACUSE_NY                                                           3.503218e+09
MSA_abbr_TAMPA_FL                                                              3.742143e+09
MSA_abbr_TOLEDO_OH                                                             3.503218e+09
MSA_abbr_TUCSON_AZ                                                             4.645526e+11
MSA_abbr_TULSA_OK                                                              4.025660e+11
MSA_abbr_VIRGINIA_BEACH_NC                                                     3.742143e+09
MSA_abbr_WASHINGTON_DC                                                         3.245907e+09
MSA_abbr_WICHITA_KS                                                            2.730167e+11
MSA_abbr_WINSTON_NC                                                           -2.973485e+10
MSA_abbr_WORCESTER_MA                                                          3.245907e+09
MSA_abbr_YOUNGSTOWN_OH                                                        -2.072540e+11
Length: 115, dtype: float64

ridge

Train R2                                                                       0.845913
Test R2                                                                        0.726064
now_married_except_separated                                                   0.280689
less_than_high_school_diploma                                                  0.199659
unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months    0.085824
households_with_food_stamp_snap_benefits                                      -0.225222
percentage_married_couple_family                                              -0.257386
percentage_female_householder_no_husband_present_family                       -0.071654
poverty_all_people                                                            -0.489164
house_median_value_(dollars)                                                   0.007805
MSA_abbr_ALBANY_NY                                                            -0.269045
MSA_abbr_ALBUQUERQUE_NM                                                        0.249719
MSA_abbr_ALLENTOWN_PA                                                         -0.224259
MSA_abbr_ATLANTA_GA                                                            0.174260
MSA_abbr_AUGUSTA_GA                                                            0.307196
MSA_abbr_AUSTIN_TX                                                            -0.195164
MSA_abbr_BAKERSFIELD_CA                                                        0.230321
MSA_abbr_BALTIMORE_MD                                                          0.525304
MSA_abbr_BATON_ROUGE_LA                                                        0.622210
MSA_abbr_BIRMINGHAM_AL                                                         0.562769
MSA_abbr_BOISE_ID                                                             -0.367387
MSA_abbr_BOSTON_MA                                                            -0.222655
MSA_abbr_BRADENTON_FL                                                         -0.043106
MSA_abbr_BRIDGEPORT_CT                                                        -0.327592
MSA_abbr_BUFFALO_NY                                                            0.099440
MSA_abbr_CAPE_CORAL_FL                                                         0.090279
MSA_abbr_CHARLESTON_SC                                                         0.247518
MSA_abbr_CHARLOTTE_NC                                                          0.104075
MSA_abbr_CHATANOOGA_TN                                                         0.097660
MSA_abbr_CHICAGO_IL                                                            0.101511
                                                                                 ...
MSA_abbr_PORTLAND_OR                                                          -0.276744
MSA_abbr_POUGHKEEPSIE_NY                                                      -0.023079
MSA_abbr_PROVIDENCE_RI                                                        -0.229395
MSA_abbr_PROVO_UT                                                             -0.417421
MSA_abbr_RALEIGH_NC                                                           -0.192035
MSA_abbr_RICHMOND_VA                                                           0.215987
MSA_abbr_RIVERSIDE_CA                                                         -0.001566
MSA_abbr_ROCHESTER_NY                                                         -0.042575
MSA_abbr_SALT_LAKE_CITY_UT                                                    -0.333926
MSA_abbr_SANTA_ROSA_CA                                                        -0.180640
MSA_abbr_SAN_ANTONIO_TX                                                        0.148277
MSA_abbr_SAN_DIEGO_CA                                                         -0.253424
MSA_abbr_SAN_FRANCISCO_CA                                                      0.066730
MSA_abbr_SAN_JOSE_CA                                                          -0.355725
MSA_abbr_SEATTLE_WA                                                           -0.276616
MSA_abbr_SPOKANE_WA                                                           -0.058740
MSA_abbr_SPRINGFIELD_MA                                                       -0.099378
MSA_abbr_STOCKTON_CA                                                           0.253562
MSA_abbr_ST_LOUIS_MO                                                           0.293685
MSA_abbr_SYRACUSE_NY                                                          -0.072042
MSA_abbr_TAMPA_FL                                                             -0.040338
MSA_abbr_TOLEDO_OH                                                             0.039604
MSA_abbr_TUCSON_AZ                                                             0.263726
MSA_abbr_TULSA_OK                                                              0.176270
MSA_abbr_VIRGINIA_BEACH_NC                                                     0.167629
MSA_abbr_WASHINGTON_DC                                                        -0.048602
MSA_abbr_WICHITA_KS                                                           -0.048126
MSA_abbr_WINSTON_NC                                                           -0.041802
MSA_abbr_WORCESTER_MA                                                         -0.327601
MSA_abbr_YOUNGSTOWN_OH                                                         0.081666
Length: 115, dtype: float64

lasso

Train R2                                                                       0.846179
Test R2                                                                        0.726280
now_married_except_separated                                                   0.278517
less_than_high_school_diploma                                                  0.264806
unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months    0.076382
households_with_food_stamp_snap_benefits                                      -0.186404
percentage_married_couple_family                                              -0.248078
percentage_female_householder_no_husband_present_family                       -0.104941
poverty_all_people                                                            -0.526833
house_median_value_(dollars)                                                   0.005325
MSA_abbr_ALBANY_NY                                                            -0.262949
MSA_abbr_ALBUQUERQUE_NM                                                        0.257822
MSA_abbr_ALLENTOWN_PA                                                         -0.222195
MSA_abbr_ATLANTA_GA                                                            0.179098
MSA_abbr_AUGUSTA_GA                                                            0.316208
MSA_abbr_AUSTIN_TX                                                            -0.192596
MSA_abbr_BAKERSFIELD_CA                                                        0.223786
MSA_abbr_BALTIMORE_MD                                                          0.535321
MSA_abbr_BATON_ROUGE_LA                                                        0.633014
MSA_abbr_BIRMINGHAM_AL                                                         0.572612
MSA_abbr_BOISE_ID                                                             -0.367566
MSA_abbr_BOSTON_MA                                                            -0.218242
MSA_abbr_BRADENTON_FL                                                         -0.041333
MSA_abbr_BRIDGEPORT_CT                                                        -0.326993
MSA_abbr_BUFFALO_NY                                                            0.104883
MSA_abbr_CAPE_CORAL_FL                                                         0.088165
MSA_abbr_CHARLESTON_SC                                                         0.256050
MSA_abbr_CHARLOTTE_NC                                                          0.105525
MSA_abbr_CHATANOOGA_TN                                                         0.096100
MSA_abbr_CHICAGO_IL                                                            0.101204
                                                                                 ...
MSA_abbr_PORTLAND_OR                                                          -0.276220
MSA_abbr_POUGHKEEPSIE_NY                                                      -0.022389
MSA_abbr_PROVIDENCE_RI                                                        -0.229253
MSA_abbr_PROVO_UT                                                             -0.419021
MSA_abbr_RALEIGH_NC                                                           -0.188642
MSA_abbr_RICHMOND_VA                                                           0.220619
MSA_abbr_RIVERSIDE_CA                                                         -0.003975
MSA_abbr_ROCHESTER_NY                                                         -0.033919
MSA_abbr_SALT_LAKE_CITY_UT                                                    -0.334630
MSA_abbr_SANTA_ROSA_CA                                                        -0.179469
MSA_abbr_SAN_ANTONIO_TX                                                        0.147680
MSA_abbr_SAN_DIEGO_CA                                                         -0.248427
MSA_abbr_SAN_FRANCISCO_CA                                                      0.068847
MSA_abbr_SAN_JOSE_CA                                                          -0.358572
MSA_abbr_SEATTLE_WA                                                           -0.274460
MSA_abbr_SPOKANE_WA                                                           -0.054180
MSA_abbr_SPRINGFIELD_MA                                                       -0.090003
MSA_abbr_STOCKTON_CA                                                           0.246634
MSA_abbr_ST_LOUIS_MO                                                           0.300384
MSA_abbr_SYRACUSE_NY                                                          -0.062764
MSA_abbr_TAMPA_FL                                                             -0.033143
MSA_abbr_TOLEDO_OH                                                             0.048125
MSA_abbr_TUCSON_AZ                                                             0.270386
MSA_abbr_TULSA_OK                                                              0.178149
MSA_abbr_VIRGINIA_BEACH_NC                                                     0.177021
MSA_abbr_WASHINGTON_DC                                                        -0.041981
MSA_abbr_WICHITA_KS                                                           -0.044670
MSA_abbr_WINSTON_NC                                                           -0.036759
MSA_abbr_WORCESTER_MA                                                         -0.326892
MSA_abbr_YOUNGSTOWN_OH                                                         0.084870
Length: 115, dtype: float64

bayes

Train R2                                                                       0.845007
Test R2                                                                        0.728003
now_married_except_separated                                                   0.209367
less_than_high_school_diploma                                                  0.305025
unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months    0.102442
households_with_food_stamp_snap_benefits                                      -0.318197
percentage_married_couple_family                                              -0.262154
percentage_female_householder_no_husband_present_family                        0.117242
poverty_all_people                                                            -0.375960
house_median_value_(dollars)                                                  -0.029279
MSA_abbr_ALBANY_NY                                                            -0.262825
MSA_abbr_ALBUQUERQUE_NM                                                        0.208013
MSA_abbr_ALLENTOWN_PA                                                         -0.212184
MSA_abbr_ATLANTA_GA                                                            0.147682
MSA_abbr_AUGUSTA_GA                                                            0.242199
MSA_abbr_AUSTIN_TX                                                            -0.193123
MSA_abbr_BAKERSFIELD_CA                                                        0.159730
MSA_abbr_BALTIMORE_MD                                                          0.495481
MSA_abbr_BATON_ROUGE_LA                                                        0.573054
MSA_abbr_BIRMINGHAM_AL                                                         0.517149
MSA_abbr_BOISE_ID                                                             -0.324475
MSA_abbr_BOSTON_MA                                                            -0.208284
MSA_abbr_BRADENTON_FL                                                         -0.038340
MSA_abbr_BRIDGEPORT_CT                                                        -0.292663
MSA_abbr_BUFFALO_NY                                                            0.071253
MSA_abbr_CAPE_CORAL_FL                                                         0.103439
MSA_abbr_CHARLESTON_SC                                                         0.211706
MSA_abbr_CHARLOTTE_NC                                                          0.089736
MSA_abbr_CHATANOOGA_TN                                                         0.088468
MSA_abbr_CHICAGO_IL                                                            0.088179
                                                                                 ...
MSA_abbr_PORTLAND_OR                                                          -0.245286
MSA_abbr_POUGHKEEPSIE_NY                                                      -0.018052
MSA_abbr_PROVIDENCE_RI                                                        -0.252909
MSA_abbr_PROVO_UT                                                             -0.339573
MSA_abbr_RALEIGH_NC                                                           -0.175690
MSA_abbr_RICHMOND_VA                                                           0.182901
MSA_abbr_RIVERSIDE_CA                                                         -0.039755
MSA_abbr_ROCHESTER_NY                                                         -0.061235
MSA_abbr_SALT_LAKE_CITY_UT                                                    -0.294636

In [21]:
def print_runtime():
    hours = int(str(end)[0:2])-int(str(start)[0:2])
    minutes = int(str(end)[3:5])-int(str(start)[3:5])
    seconds = int(str(end)[6:8])-int(str(start)[6:8])
    if hours < 0:
        hours = hours + 24
    if minutes < 0:
        minutes = minutes + 60
        hours = hours - 1
    if seconds < 0:
        seconds = seconds + 60
        minutes = minutes - 1
    print(hours, "hrs", minutes, "mins", seconds, "secs")

In [22]:
end = datetime.datetime.time(datetime.datetime.now())

In [23]:
print_runtime()

0 hrs 17 mins 3 secs