In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
%matplotlib inline
import seaborn as sns
sns.set_context('poster')

## Models With MSA, Years

### Import, Split, and Standardize Data

In [2]:
start = datetime.datetime.time(datetime.datetime.now())

In [3]:
df = pd.read_pickle('../data/merged/all_data_2006_to_2016.pkl')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 928 entries, 0 to 927
Data columns (total 13 columns):
year                                                                           928 non-null int64
MSA_orig                                                                       928 non-null object
MSA                                                                            928 non-null object
MSA_abbr                                                                       928 non-null object
now_married_except_separated                                                   928 non-null float64
less_than_high_school_diploma                                                  928 non-null float64
unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months    928 non-null float64
households_with_food_stamp_snap_benefits                                       928 non-null float64
percentage_married_couple_family                                               928 non-null float64
percentage_female_householder_no_husband_present_family                        928 non-null float64
poverty_all_people                                                             928 non-null float64
house_median_value_(dollars)                                                   928 non-null int64
murder_per_100_k                                                               928 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 94.3+ KB

In [5]:
# remove outliers with atypically high murder rates
df = df[df.MSA_abbr != 'NEW_ORLEANS_LA']
df = df[(df.MSA_abbr != 'MEMPHIS_TN') | (df.year != 2016)]
df = df[(df.MSA_abbr != 'BATON_ROUGE_LA') | (df.year != 2007)]

In [6]:
# drop extra MSA names
df = df.drop(['MSA_orig', 'MSA'], axis=1)

In [7]:
# drop all features except year
df = df.drop(['now_married_except_separated',
              'less_than_high_school_diploma',
              'unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months',
              'households_with_food_stamp_snap_benefits',
              'percentage_married_couple_family',
              'percentage_female_householder_no_husband_present_family',
              'poverty_all_people',
              'house_median_value_(dollars)'], axis=1)

In [8]:
df = pd.get_dummies(df, columns=['MSA_abbr'], drop_first=True)
df.head()

,year,murder_per_100_k,MSA_abbr_ALBANY_NY,MSA_abbr_ALBUQUERQUE_NM,MSA_abbr_ALLENTOWN_PA,MSA_abbr_ATLANTA_GA,MSA_abbr_AUGUSTA_GA,MSA_abbr_AUSTIN_TX,MSA_abbr_BAKERSFIELD_CA,MSA_abbr_BALTIMORE_MD,...,MSA_abbr_TAMPA_FL,MSA_abbr_TOLEDO_OH,MSA_abbr_TUCSON_AZ,MSA_abbr_TULSA_OK,MSA_abbr_VIRGINIA_BEACH_NC,MSA_abbr_WASHINGTON_DC,MSA_abbr_WICHITA_KS,MSA_abbr_WINSTON_NC,MSA_abbr_WORCESTER_MA,MSA_abbr_YOUNGSTOWN_OH
0,2007,3.6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2008,3.4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2009,4.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2010,3.7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2011,4.7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# separate labels and features

label_col = 'murder_per_100_k'

x = df.drop([label_col], axis=1)
y = df[label_col]

print('Sizes match: {}'.format(len(x)==len(y)))

Sizes match: True

In [10]:
# train test split

from sklearn.model_selection import train_test_split

x_train_s, x_test_s, y_train, y_test = train_test_split(x,y, test_size=0.3)

print('Len x_train: {}'.format(len(x_train_s)))
print('Len x_test: {}'.format(len(x_test_s)))
print('Len y_train: {}'.format(len(y_train)))
print('Len x_test: {}'.format(len(y_test)))

Len x_train: 641
Len x_test: 275
Len y_train: 641
Len x_test: 275

In [11]:
# standardize data

from sklearn.preprocessing import StandardScaler
standardizer = StandardScaler().fit(x_train_s)

x_train = standardizer.transform(x_train_s)
x_test = standardizer.transform(x_test_s)

### Simple Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, BayesianRidge, HuberRegressor
from sklearn.model_selection import GridSearchCV

In [13]:
# instantiate and fit models

def make_models(x_train, y_train):
    md = dict()

    md['linear'] = LinearRegression().fit(x_train, y_train)
    md['ridge'] = RidgeCV(cv=15).fit(x_train, y_train)
    md['lasso'] = LassoCV(cv=15).fit(x_train, y_train)
    md['bayes'] = BayesianRidge(tol=0.0001).fit(x_train, y_train)
    md['huber'] = GridSearchCV(HuberRegressor(),{'epsilon': [1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7]}).fit(x_train, y_train).best_estimator_
    
    return md

In [14]:
# score models

def score_model(model):

    train_score = model.score(x_train, y_train)
    test_score = model.score(x_test, y_test)

    return np.array([train_score, test_score])

In [15]:
def results_df(model):

    # get train and test scores
    scores_df = pd.DataFrame(score_model(model)).transpose()
    scores_df.columns = ['Train R2','Test R2']

    # get coefficient matrix
    coeffs_df = pd.DataFrame(model.coef_).transpose()
    coeffs_df.columns = x.columns

    # join dataframes
    return pd.concat([scores_df, coeffs_df], axis=1)

In [16]:
from sklearn.utils import resample

In [17]:
def run_experiment(n_iters):
    
    sample_results = dict()
    
    for n in range(n_iters):
        # get new sample
        xb, yb = resample(x_train, y_train)

        # make and fit models
        model_dict = make_models(xb, yb)

        # get sample of results for each model
        for key in model_dict:
            
            # initialize empty dictionary
            if key not in sample_results:
                sample_results[key] = []
                        
            # get model results
            sample_results[key].append(results_df(model_dict[key]))
            
    # concatenate results dfs into single df
    for key in sample_results:
        sample_results[key] = pd.concat(sample_results[key])
        
    return sample_results

In [18]:
exp = run_experiment(200)

In [19]:
coef_dict = dict()

# iterate over all models
for key in exp:
    
    # iterate over results of this model
    for c in exp[key].columns:
        
        # initialize dict for result names
        if c not in coef_dict:
            coef_dict[c] = dict()
    
        # add this coeff to the dict
        coef_dict[c][key] = exp[key][c]

# convert dict of dicts into dict of dataframes
coef_dfs = {key: pd.DataFrame(coef_dict[key]) for key in coef_dict}

In [20]:
for key in exp:
    print(key)
    print()
    print(exp[key].mean())
    print()

linear

Train R2                        -1.685948e+26
Test R2                         -2.676673e+26
year                            -2.474309e-01
MSA_abbr_ALBANY_NY               2.297532e+09
MSA_abbr_ALBUQUERQUE_NM          1.853909e-01
MSA_abbr_ALLENTOWN_PA           -1.233394e-01
MSA_abbr_ATLANTA_GA              2.480143e-01
MSA_abbr_AUGUSTA_GA              3.639266e-01
MSA_abbr_AUSTIN_TX              -2.186196e-01
MSA_abbr_BAKERSFIELD_CA          2.566492e-01
MSA_abbr_BALTIMORE_MD            6.847021e-01
MSA_abbr_BATON_ROUGE_LA          6.656917e-01
MSA_abbr_BIRMINGHAM_AL           4.532214e-01
MSA_abbr_BOISE_ID               -3.168309e-01
MSA_abbr_BOSTON_MA              -7.331181e+10
MSA_abbr_BRADENTON_FL            8.613645e+11
MSA_abbr_BRIDGEPORT_CT          -1.876810e-01
MSA_abbr_BUFFALO_NY             -2.982015e+10
MSA_abbr_CAPE_CORAL_FL           5.650360e+10
MSA_abbr_CHARLESTON_SC           7.075024e+09
MSA_abbr_CHARLOTTE_NC           -1.469361e+11
MSA_abbr_CHATANOOGA_TN           4.091484e+08
MSA_abbr_CHICAGO_IL              8.259220e+10
MSA_abbr_CINCINNATI_OH           1.963715e-02
MSA_abbr_CLEVELAND_OH           -5.793255e+10
MSA_abbr_COLORADO_SPRINGS_CO    -1.694697e+12
MSA_abbr_COLUMBIA_SC             2.750032e+11
MSA_abbr_COLUMBUS_OH             1.244964e-01
MSA_abbr_Colorado Springs, CO   -2.232606e-02
MSA_abbr_DALLAS_TX               2.575148e-02
                                     ...
MSA_abbr_PORTLAND_OR             3.060044e+10
MSA_abbr_POUGHKEEPSIE_NY        -9.617474e+10
MSA_abbr_PROVIDENCE_RI          -1.529118e+10
MSA_abbr_PROVO_UT               -3.527005e-01
MSA_abbr_RALEIGH_NC             -4.001068e+10
MSA_abbr_RICHMOND_VA             2.939699e-01
MSA_abbr_RIVERSIDE_CA            6.588556e-02
MSA_abbr_ROCHESTER_NY           -1.962847e-02
MSA_abbr_SALT_LAKE_CITY_UT      -2.291858e-01
MSA_abbr_SANTA_ROSA_CA           6.245900e+11
MSA_abbr_SAN_ANTONIO_TX          1.382616e-01
MSA_abbr_SAN_DIEGO_CA           -7.247496e+10
MSA_abbr_SAN_FRANCISCO_CA        2.358175e-01
MSA_abbr_SAN_JOSE_CA            -1.908605e-01
MSA_abbr_SEATTLE_WA              2.463175e+10
MSA_abbr_SPOKANE_WA             -5.465022e+11
MSA_abbr_SPRINGFIELD_MA         -9.776777e-02
MSA_abbr_STOCKTON_CA             3.922428e-01
MSA_abbr_ST_LOUIS_MO             3.731515e-01
MSA_abbr_SYRACUSE_NY            -4.388149e-02
MSA_abbr_TAMPA_FL                1.777587e-02
MSA_abbr_TOLEDO_OH              -3.049496e+11
MSA_abbr_TUCSON_AZ               2.742874e-01
MSA_abbr_TULSA_OK                3.465911e-01
MSA_abbr_VIRGINIA_BEACH_NC       3.429909e-01
MSA_abbr_WASHINGTON_DC           1.188786e-01
MSA_abbr_WICHITA_KS              5.961343e-02
MSA_abbr_WINSTON_NC             -1.277974e+12
MSA_abbr_WORCESTER_MA            1.447679e+11
MSA_abbr_YOUNGSTOWN_OH           1.579281e+11
Length: 108, dtype: float64

ridge

Train R2                         0.832680
Test R2                          0.757019
year                            -0.244997
MSA_abbr_ALBANY_NY              -0.258287
MSA_abbr_ALBUQUERQUE_NM          0.143438
MSA_abbr_ALLENTOWN_PA           -0.157314
MSA_abbr_ATLANTA_GA              0.207373
MSA_abbr_AUGUSTA_GA              0.320925
MSA_abbr_AUSTIN_TX              -0.252607
MSA_abbr_BAKERSFIELD_CA          0.218805
MSA_abbr_BALTIMORE_MD            0.639926
MSA_abbr_BATON_ROUGE_LA          0.622755
MSA_abbr_BIRMINGHAM_AL           0.415786
MSA_abbr_BOISE_ID               -0.352882
MSA_abbr_BOSTON_MA              -0.178015
MSA_abbr_BRADENTON_FL            0.000000
MSA_abbr_BRIDGEPORT_CT          -0.224482
MSA_abbr_BUFFALO_NY              0.044738
MSA_abbr_CAPE_CORAL_FL           0.080893
MSA_abbr_CHARLESTON_SC           0.219699
MSA_abbr_CHARLOTTE_NC            0.111654
MSA_abbr_CHATANOOGA_TN           0.090745
MSA_abbr_CHICAGO_IL              0.112024
MSA_abbr_CINCINNATI_OH          -0.014188
MSA_abbr_CLEVELAND_OH            0.106718
MSA_abbr_COLORADO_SPRINGS_CO    -0.006282
MSA_abbr_COLUMBIA_SC             0.043130
MSA_abbr_COLUMBUS_OH             0.089076
MSA_abbr_Colorado Springs, CO   -0.057134
MSA_abbr_DALLAS_TX              -0.012719
                                   ...
MSA_abbr_PORTLAND_OR            -0.263068
MSA_abbr_POUGHKEEPSIE_NY        -0.132856
MSA_abbr_PROVIDENCE_RI          -0.168806
MSA_abbr_PROVO_UT               -0.379451
MSA_abbr_RALEIGH_NC             -0.150850
MSA_abbr_RICHMOND_VA             0.250779
MSA_abbr_RIVERSIDE_CA            0.024573
MSA_abbr_ROCHESTER_NY           -0.050618
MSA_abbr_SALT_LAKE_CITY_UT      -0.267986
MSA_abbr_SANTA_ROSA_CA          -0.176423
MSA_abbr_SAN_ANTONIO_TX          0.100390
MSA_abbr_SAN_DIEGO_CA           -0.164855
MSA_abbr_SAN_FRANCISCO_CA        0.193576
MSA_abbr_SAN_JOSE_CA            -0.222444
MSA_abbr_SEATTLE_WA             -0.211580
MSA_abbr_SPOKANE_WA             -0.074003
MSA_abbr_SPRINGFIELD_MA         -0.128482
MSA_abbr_STOCKTON_CA             0.350202
MSA_abbr_ST_LOUIS_MO             0.336317
MSA_abbr_SYRACUSE_NY            -0.076714
MSA_abbr_TAMPA_FL               -0.022418
MSA_abbr_TOLEDO_OH               0.023997
MSA_abbr_TUCSON_AZ               0.231615
MSA_abbr_TULSA_OK                0.300033
MSA_abbr_VIRGINIA_BEACH_NC       0.297111
MSA_abbr_WASHINGTON_DC           0.078739
MSA_abbr_WICHITA_KS              0.026500
MSA_abbr_WINSTON_NC             -0.028316
MSA_abbr_WORCESTER_MA           -0.203125
MSA_abbr_YOUNGSTOWN_OH           0.057249
Length: 108, dtype: float64

lasso

Train R2                         0.832423
Test R2                          0.754383
year                            -0.243640
MSA_abbr_ALBANY_NY              -0.245620
MSA_abbr_ALBUQUERQUE_NM          0.151161
MSA_abbr_ALLENTOWN_PA           -0.142601
MSA_abbr_ATLANTA_GA              0.216361
MSA_abbr_AUGUSTA_GA              0.331716
MSA_abbr_AUSTIN_TX              -0.238949
MSA_abbr_BAKERSFIELD_CA          0.226245
MSA_abbr_BALTIMORE_MD            0.654741
MSA_abbr_BATON_ROUGE_LA          0.636385
MSA_abbr_BIRMINGHAM_AL           0.425805
MSA_abbr_BOISE_ID               -0.340276
MSA_abbr_BOSTON_MA              -0.166443
MSA_abbr_BRADENTON_FL            0.000000
MSA_abbr_BRIDGEPORT_CT          -0.210338
MSA_abbr_BUFFALO_NY              0.049338
MSA_abbr_CAPE_CORAL_FL           0.086425
MSA_abbr_CHARLESTON_SC           0.227099
MSA_abbr_CHARLOTTE_NC            0.116371
MSA_abbr_CHATANOOGA_TN           0.096468
MSA_abbr_CHICAGO_IL              0.113147
MSA_abbr_CINCINNATI_OH          -0.002334
MSA_abbr_CLEVELAND_OH            0.112706
MSA_abbr_COLORADO_SPRINGS_CO    -0.001956
MSA_abbr_COLUMBIA_SC             0.045487
MSA_abbr_COLUMBUS_OH             0.093459
MSA_abbr_Colorado Springs, CO   -0.043371
MSA_abbr_DALLAS_TX               0.000423
                                   ...
MSA_abbr_PORTLAND_OR            -0.251284
MSA_abbr_POUGHKEEPSIE_NY        -0.120335
MSA_abbr_PROVIDENCE_RI          -0.157173
MSA_abbr_PROVO_UT               -0.369350
MSA_abbr_RALEIGH_NC             -0.137627
MSA_abbr_RICHMOND_VA             0.260239
MSA_abbr_RIVERSIDE_CA            0.033570
MSA_abbr_ROCHESTER_NY           -0.036532
MSA_abbr_SALT_LAKE_CITY_UT      -0.253300
MSA_abbr_SANTA_ROSA_CA          -0.166473
MSA_abbr_SAN_ANTONIO_TX          0.106830
MSA_abbr_SAN_DIEGO_CA           -0.152016
MSA_abbr_SAN_FRANCISCO_CA        0.202129
MSA_abbr_SAN_JOSE_CA            -0.208591
MSA_abbr_SEATTLE_WA             -0.198125
MSA_abbr_SPOKANE_WA             -0.061839
MSA_abbr_SPRINGFIELD_MA         -0.114199
MSA_abbr_STOCKTON_CA             0.360715
MSA_abbr_ST_LOUIS_MO             0.344803
MSA_abbr_SYRACUSE_NY            -0.061329
MSA_abbr_TAMPA_FL               -0.008256
MSA_abbr_TOLEDO_OH               0.033835
MSA_abbr_TUCSON_AZ               0.240897
MSA_abbr_TULSA_OK                0.311083
MSA_abbr_VIRGINIA_BEACH_NC       0.308270
MSA_abbr_WASHINGTON_DC           0.086731
MSA_abbr_WICHITA_KS              0.034942
MSA_abbr_WINSTON_NC             -0.023663
MSA_abbr_WORCESTER_MA           -0.193052
MSA_abbr_YOUNGSTOWN_OH           0.060365
Length: 108, dtype: float64

bayes

Train R2                         8.325826e-01
Test R2                          7.577797e-01
year                            -2.431937e-01
MSA_abbr_ALBANY_NY              -2.675200e-01
MSA_abbr_ALBUQUERQUE_NM          1.281329e-01
MSA_abbr_ALLENTOWN_PA           -1.678177e-01
MSA_abbr_ATLANTA_GA              1.913829e-01
MSA_abbr_AUGUSTA_GA              3.031680e-01
MSA_abbr_AUSTIN_TX              -2.627725e-01
MSA_abbr_BAKERSFIELD_CA          2.043560e-01
MSA_abbr_BALTIMORE_MD            6.196673e-01
MSA_abbr_BATON_ROUGE_LA          6.032299e-01
MSA_abbr_BIRMINGHAM_AL           3.996824e-01
MSA_abbr_BOISE_ID               -3.628889e-01
MSA_abbr_BOSTON_MA              -1.848524e-01
MSA_abbr_BRADENTON_FL           -1.088211e-15
MSA_abbr_BRIDGEPORT_CT          -2.350228e-01
MSA_abbr_BUFFALO_NY              3.460419e-02
MSA_abbr_CAPE_CORAL_FL           6.911863e-02
MSA_abbr_CHARLESTON_SC           2.050697e-01
MSA_abbr_CHARLOTTE_NC            1.009748e-01
MSA_abbr_CHATANOOGA_TN           7.893193e-02
MSA_abbr_CHICAGO_IL              1.040204e-01
MSA_abbr_CINCINNATI_OH          -2.557739e-02
MSA_abbr_CLEVELAND_OH            9.611745e-02
MSA_abbr_COLORADO_SPRINGS_CO    -9.014108e-03
MSA_abbr_COLUMBIA_SC             3.324592e-02
MSA_abbr_COLUMBUS_OH             7.607468e-02
MSA_abbr_Colorado Springs, CO   -6.909979e-02
MSA_abbr_DALLAS_TX              -2.596029e-02
                                     ...
MSA_abbr_PORTLAND_OR            -2.708622e-01
MSA_abbr_POUGHKEEPSIE_NY        -1.402542e-01
MSA_abbr_PROVIDENCE_RI          -1.760381e-01
MSA_abbr_PROVO_UT               -3.860570e-01
MSA_abbr_RALEIGH_NC             -1.592121e-01
MSA_abbr_RICHMOND_VA             2.340901e-01
MSA_abbr_RIVERSIDE_CA            9.962808e-03
MSA_abbr_ROCHESTER_NY           -6.156496e-02
MSA_abbr_SALT_LAKE_CITY_UT      -2.797411e-01
MSA_abbr_SANTA_ROSA_CA          -1.817451e-01
MSA_abbr_SAN_ANTONIO_TX          8.649360e-02
MSA_abbr_SAN_DIEGO_CA           -1.732640e-01
MSA_abbr_SAN_FRANCISCO_CA        1.775258e-01
MSA_abbr_SAN_JOSE_CA            -2.318980e-01
MSA_abbr_SEATTLE_WA             -2.214779e-01
MSA_abbr_SPOKANE_WA             -8.098607e-02
MSA_abbr_SPRINGFIELD_MA         -1.383274e-01
MSA_abbr_STOCKTON_CA             3.331764e-01
MSA_abbr_ST_LOUIS_MO             3.212138e-01
MSA_abbr_SYRACUSE_NY            -8.728945e-02
MSA_abbr_TAMPA_FL               -3.628645e-02
MSA_abbr_TOLEDO_OH               1.109414e-02
MSA_abbr_TUCSON_AZ               2.153151e-01
MSA_abbr_TULSA_OK                2.817382e-01
MSA_abbr_VIRGINIA_BEACH_NC       2.790482e-01
MSA_abbr_WASHINGTON_DC           6.438026e-02
MSA_abbr_WICHITA_KS              1.452534e-02
MSA_abbr_WINSTON_NC             -3.134570e-02
MSA_abbr_WORCESTER_MA           -2.082740e-01
MSA_abbr_YOUNGSTOWN_OH           4.841008e-02
Length: 108, dtype: float64

huber

Train R2                         0.791971
Test R2                          0.692231
year                            -0.253405
MSA_abbr_ALBANY_NY              -0.255415
MSA_abbr_ALBUQUERQUE_NM          0.143290
MSA_abbr_ALLENTOWN_PA           -0.161041
MSA_abbr_ATLANTA_GA              0.203575
MSA_abbr_AUGUSTA_GA              0.325413
MSA_abbr_AUSTIN_TX              -0.248861
MSA_abbr_BAKERSFIELD_CA          0.227789
MSA_abbr_BALTIMORE_MD            0.632640
MSA_abbr_BATON_ROUGE_LA          0.637718
MSA_abbr_BIRMINGHAM_AL           0.424705
MSA_abbr_BOISE_ID               -0.363346
MSA_abbr_BOSTON_MA              -0.186867
MSA_abbr_BRADENTON_FL            0.000000
MSA_abbr_BRIDGEPORT_CT          -0.224005
MSA_abbr_BUFFALO_NY              0.047626
MSA_abbr_CAPE_CORAL_FL           0.086492
MSA_abbr_CHARLESTON_SC           0.230907
MSA_abbr_CHARLOTTE_NC            0.103769
MSA_abbr_CHATANOOGA_TN           0.110239
MSA_abbr_CHICAGO_IL              0.092983
MSA_abbr_CINCINNATI_OH          -0.010119
MSA_abbr_CLEVELAND_OH            0.074330
MSA_abbr_COLORADO_SPRINGS_CO    -0.080712
MSA_abbr_COLUMBIA_SC             0.037384
MSA_abbr_COLUMBUS_OH             0.091684
MSA_abbr_Colorado Springs, CO   -0.065472
MSA_abbr_DALLAS_TX              -0.014105
                                   ...
MSA_abbr_PORTLAND_OR            -0.271570
MSA_abbr_POUGHKEEPSIE_NY        -0.141892
MSA_abbr_PROVIDENCE_RI          -0.169890
MSA_abbr_PROVO_UT               -0.383325
MSA_abbr_RALEIGH_NC             -0.160687
MSA_abbr_RICHMOND_VA             0.240281
MSA_abbr_RIVERSIDE_CA            0.017647
MSA_abbr_ROCHESTER_NY           -0.045793
MSA_abbr_SALT_LAKE_CITY_UT      -0.284748
MSA_abbr_SANTA_ROSA_CA          -0.193185
MSA_abbr_SAN_ANTONIO_TX          0.092635
MSA_abbr_SAN_DIEGO_CA           -0.166525
MSA_abbr_SAN_FRANCISCO_CA        0.181763
MSA_abbr_SAN_JOSE_CA            -0.221780
MSA_abbr_SEATTLE_WA             -0.209167
MSA_abbr_SPOKANE_WA             -0.087913
MSA_abbr_SPRINGFIELD_MA         -0.127569
MSA_abbr_STOCKTON_CA             0.352544
MSA_abbr_ST_LOUIS_MO             0.318819
MSA_abbr_SYRACUSE_NY            -0.071623
MSA_abbr_TAMPA_FL               -0.020281
MSA_abbr_TOLEDO_OH               0.030097
MSA_abbr_TUCSON_AZ               0.243095
MSA_abbr_TULSA_OK                0.304141
MSA_abbr_VIRGINIA_BEACH_NC       0.282735
MSA_abbr_WASHINGTON_DC           0.072693
MSA_abbr_WICHITA_KS              0.021161
MSA_abbr_WINSTON_NC             -0.102632
MSA_abbr_WORCESTER_MA           -0.210381
MSA_abbr_YOUNGSTOWN_OH           0.042372
Length: 108, dtype: float64

In [21]:
def print_runtime():
    hours = int(str(end)[0:2])-int(str(start)[0:2])
    minutes = int(str(end)[3:5])-int(str(start)[3:5])
    seconds = int(str(end)[6:8])-int(str(start)[6:8])
    if hours < 0:
        hours = hours + 24
    if minutes < 0:
        minutes = minutes + 60
        hours = hours - 1
    if seconds < 0:
        seconds = seconds + 60
        minutes = minutes - 1
    print(hours, "hrs", minutes, "mins", seconds, "secs")

In [22]:
end = datetime.datetime.time(datetime.datetime.now())

In [23]:
print_runtime()

0 hrs 6 mins 16 secs