In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
%matplotlib inline
import seaborn as sns
sns.set_context('poster')

## Models With MSA

### Import, Split, and Standardize Data

In [2]:
start = datetime.datetime.time(datetime.datetime.now())

In [3]:
df = pd.read_pickle('../data/merged/all_data_2006_to_2016.pkl')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 928 entries, 0 to 927
Data columns (total 13 columns):
year                                                                           928 non-null int64
MSA_orig                                                                       928 non-null object
MSA                                                                            928 non-null object
MSA_abbr                                                                       928 non-null object
now_married_except_separated                                                   928 non-null float64
less_than_high_school_diploma                                                  928 non-null float64
unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months    928 non-null float64
households_with_food_stamp_snap_benefits                                       928 non-null float64
percentage_married_couple_family                                               928 non-null float64
percentage_female_householder_no_husband_present_family                        928 non-null float64
poverty_all_people                                                             928 non-null float64
house_median_value_(dollars)                                                   928 non-null int64
murder_per_100_k                                                               928 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 94.3+ KB

In [5]:
# remove outliers with atypically high murder rates
df = df[df.MSA_abbr != 'NEW_ORLEANS_LA']
df = df[(df.MSA_abbr != 'MEMPHIS_TN') | (df.year != 2016)]
df = df[(df.MSA_abbr != 'BATON_ROUGE_LA') | (df.year != 2007)]

In [6]:
# drop extra MSA names
df = df.drop(['MSA_orig', 'MSA'], axis=1)

In [7]:
# drop all features, including year
df = df.drop(['year',
              'now_married_except_separated',
              'less_than_high_school_diploma',
              'unmarried_portion_of_women_15_to_50_years_who_had_a_birth_in_past_12_months',
              'households_with_food_stamp_snap_benefits',
              'percentage_married_couple_family',
              'percentage_female_householder_no_husband_present_family',
              'poverty_all_people',
              'house_median_value_(dollars)'], axis=1)

In [8]:
df = pd.get_dummies(df, columns=['MSA_abbr'], drop_first=True)
df.head()

,murder_per_100_k,MSA_abbr_ALBANY_NY,MSA_abbr_ALBUQUERQUE_NM,MSA_abbr_ALLENTOWN_PA,MSA_abbr_ATLANTA_GA,MSA_abbr_AUGUSTA_GA,MSA_abbr_AUSTIN_TX,MSA_abbr_BAKERSFIELD_CA,MSA_abbr_BALTIMORE_MD,MSA_abbr_BATON_ROUGE_LA,...,MSA_abbr_TAMPA_FL,MSA_abbr_TOLEDO_OH,MSA_abbr_TUCSON_AZ,MSA_abbr_TULSA_OK,MSA_abbr_VIRGINIA_BEACH_NC,MSA_abbr_WASHINGTON_DC,MSA_abbr_WICHITA_KS,MSA_abbr_WINSTON_NC,MSA_abbr_WORCESTER_MA,MSA_abbr_YOUNGSTOWN_OH
0,3.6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3.4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4.7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# separate labels and features

label_col = 'murder_per_100_k'

x = df.drop([label_col], axis=1)
y = df[label_col]

print('Sizes match: {}'.format(len(x)==len(y)))

Sizes match: True

In [10]:
# train test split

from sklearn.model_selection import train_test_split

x_train_s, x_test_s, y_train, y_test = train_test_split(x,y, test_size=0.3)

print('Len x_train: {}'.format(len(x_train_s)))
print('Len x_test: {}'.format(len(x_test_s)))
print('Len y_train: {}'.format(len(y_train)))
print('Len x_test: {}'.format(len(y_test)))

Len x_train: 641
Len x_test: 275
Len y_train: 641
Len x_test: 275

In [11]:
# standardize data

from sklearn.preprocessing import StandardScaler
standardizer = StandardScaler().fit(x_train_s)

x_train = standardizer.transform(x_train_s)
x_test = standardizer.transform(x_test_s)

### Simple Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, BayesianRidge, HuberRegressor
from sklearn.model_selection import GridSearchCV

In [13]:
# instantiate and fit models

def make_models(x_train, y_train):
    md = dict()

    md['linear'] = LinearRegression().fit(x_train, y_train)
    md['ridge'] = RidgeCV(cv=15).fit(x_train, y_train)
    md['lasso'] = LassoCV(cv=15).fit(x_train, y_train)
    md['bayes'] = BayesianRidge(tol=0.0001).fit(x_train, y_train)
    md['huber'] = GridSearchCV(HuberRegressor(),{'epsilon': [1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7]}).fit(x_train, y_train).best_estimator_
    
    return md

In [14]:
# score models

def score_model(model):

    train_score = model.score(x_train, y_train)
    test_score = model.score(x_test, y_test)

    return np.array([train_score, test_score])

In [15]:
def results_df(model):

    # get train and test scores
    scores_df = pd.DataFrame(score_model(model)).transpose()
    scores_df.columns = ['Train R2','Test R2']

    # get coefficient matrix
    coeffs_df = pd.DataFrame(model.coef_).transpose()
    coeffs_df.columns = x.columns

    # join dataframes
    return pd.concat([scores_df, coeffs_df], axis=1)

In [16]:
from sklearn.utils import resample

In [17]:
def run_experiment(n_iters):
    
    sample_results = dict()
    
    for n in range(n_iters):
        # get new sample
        xb, yb = resample(x_train, y_train)

        # make and fit models
        model_dict = make_models(xb, yb)

        # get sample of results for each model
        for key in model_dict:
            
            # initialize empty dictionary
            if key not in sample_results:
                sample_results[key] = []
                        
            # get model results
            sample_results[key].append(results_df(model_dict[key]))
            
    # concatenate results dfs into single df
    for key in sample_results:
        sample_results[key] = pd.concat(sample_results[key])
        
    return sample_results

In [18]:
exp = run_experiment(200)

In [19]:
coef_dict = dict()

# iterate over all models
for key in exp:
    
    # iterate over results of this model
    for c in exp[key].columns:
        
        # initialize dict for result names
        if c not in coef_dict:
            coef_dict[c] = dict()
    
        # add this coeff to the dict
        coef_dict[c][key] = exp[key][c]

# convert dict of dicts into dict of dataframes
coef_dfs = {key: pd.DataFrame(coef_dict[key]) for key in coef_dict}

In [20]:
for key in exp:
    print(key)
    print()
    print(exp[key].mean())
    print()

linear

Train R2                        -4.003465e+25
Test R2                         -1.563434e+25
MSA_abbr_ALBANY_NY              -2.010515e-01
MSA_abbr_ALBUQUERQUE_NM          1.934827e-01
MSA_abbr_ALLENTOWN_PA           -1.167915e-01
MSA_abbr_ATLANTA_GA              2.484192e-01
MSA_abbr_AUGUSTA_GA              3.391058e-01
MSA_abbr_AUSTIN_TX              -1.558194e-01
MSA_abbr_BAKERSFIELD_CA          3.170631e-01
MSA_abbr_BALTIMORE_MD            3.364872e+09
MSA_abbr_BATON_ROUGE_LA         -2.628407e+10
MSA_abbr_BIRMINGHAM_AL           2.685272e+10
MSA_abbr_BOISE_ID               -2.364903e-01
MSA_abbr_BOSTON_MA              -1.217588e+09
MSA_abbr_BRADENTON_FL            7.323526e+11
MSA_abbr_BRIDGEPORT_CT           4.800948e+09
MSA_abbr_BUFFALO_NY              8.339199e-02
MSA_abbr_CAPE_CORAL_FL           1.886142e-01
MSA_abbr_CHARLESTON_SC           8.556739e+09
MSA_abbr_CHARLOTTE_NC           -7.478312e+09
MSA_abbr_CHATANOOGA_TN           1.304239e-01
MSA_abbr_CHICAGO_IL              1.174727e+11
MSA_abbr_CINCINNATI_OH           1.918820e+10
MSA_abbr_CLEVELAND_OH           -9.109477e+10
MSA_abbr_COLORADO_SPRINGS_CO     5.205794e+11
MSA_abbr_COLUMBIA_SC             1.155907e-01
MSA_abbr_COLUMBUS_OH             1.434346e-01
MSA_abbr_Colorado Springs, CO   -1.027539e-03
MSA_abbr_DALLAS_TX               6.131377e-02
MSA_abbr_DAYTON_OH               9.436417e+09
                                     ...
MSA_abbr_PORTLAND_OR            -2.381498e-01
MSA_abbr_POUGHKEEPSIE_NY         1.457923e+11
MSA_abbr_PROVIDENCE_RI           2.332682e+10
MSA_abbr_PROVO_UT               -3.765511e-01
MSA_abbr_RALEIGH_NC              5.253590e+10
MSA_abbr_RICHMOND_VA             8.182496e+10
MSA_abbr_RIVERSIDE_CA            9.907273e-02
MSA_abbr_ROCHESTER_NY            4.377687e-03
MSA_abbr_SALT_LAKE_CITY_UT      -1.837655e-01
MSA_abbr_SANTA_ROSA_CA           2.974875e+11
MSA_abbr_SAN_ANTONIO_TX          1.317587e-01
MSA_abbr_SAN_DIEGO_CA           -1.859182e-01
MSA_abbr_SAN_FRANCISCO_CA       -8.305974e+10
MSA_abbr_SAN_JOSE_CA            -1.755146e-01
MSA_abbr_SEATTLE_WA              5.171699e+10
MSA_abbr_SPOKANE_WA              8.124468e+10
MSA_abbr_SPRINGFIELD_MA         -1.282098e-01
MSA_abbr_STOCKTON_CA             4.245247e-01
MSA_abbr_ST_LOUIS_MO             4.281308e-01
MSA_abbr_SYRACUSE_NY            -9.723149e-02
MSA_abbr_TAMPA_FL                2.196695e-02
MSA_abbr_TOLEDO_OH               4.479473e-02
MSA_abbr_TUCSON_AZ               1.934829e-01
MSA_abbr_TULSA_OK               -1.171863e+10
MSA_abbr_VIRGINIA_BEACH_NC       2.839238e-01
MSA_abbr_WASHINGTON_DC           9.891880e-02
MSA_abbr_WICHITA_KS             -1.577466e+10
MSA_abbr_WINSTON_NC             -5.402437e+10
MSA_abbr_WORCESTER_MA            2.593741e+10
MSA_abbr_YOUNGSTOWN_OH           1.193139e-01
Length: 107, dtype: float64

ridge

Train R2                         0.813512
Test R2                          0.773351
MSA_abbr_ALBANY_NY              -0.232076
MSA_abbr_ALBUQUERQUE_NM          0.158822
MSA_abbr_ALLENTOWN_PA           -0.145489
MSA_abbr_ATLANTA_GA              0.210556
MSA_abbr_AUGUSTA_GA              0.299216
MSA_abbr_AUSTIN_TX              -0.182631
MSA_abbr_BAKERSFIELD_CA          0.277874
MSA_abbr_BALTIMORE_MD            0.581100
MSA_abbr_BATON_ROUGE_LA          0.744052
MSA_abbr_BIRMINGHAM_AL           0.526008
MSA_abbr_BOISE_ID               -0.264383
MSA_abbr_BOSTON_MA              -0.194063
MSA_abbr_BRADENTON_FL           -0.018575
MSA_abbr_BRIDGEPORT_CT          -0.152561
MSA_abbr_BUFFALO_NY              0.048238
MSA_abbr_CAPE_CORAL_FL           0.147215
MSA_abbr_CHARLESTON_SC           0.191673
MSA_abbr_CHARLOTTE_NC            0.068883
MSA_abbr_CHATANOOGA_TN           0.094057
MSA_abbr_CHICAGO_IL              0.173170
MSA_abbr_CINCINNATI_OH           0.001773
MSA_abbr_CLEVELAND_OH            0.121015
MSA_abbr_COLORADO_SPRINGS_CO     0.003019
MSA_abbr_COLUMBIA_SC             0.088084
MSA_abbr_COLUMBUS_OH             0.106964
MSA_abbr_Colorado Springs, CO   -0.035167
MSA_abbr_DALLAS_TX               0.028933
MSA_abbr_DAYTON_OH               0.096536
                                   ...
MSA_abbr_PORTLAND_OR            -0.265659
MSA_abbr_POUGHKEEPSIE_NY        -0.121168
MSA_abbr_PROVIDENCE_RI          -0.219303
MSA_abbr_PROVO_UT               -0.404710
MSA_abbr_RALEIGH_NC             -0.087873
MSA_abbr_RICHMOND_VA             0.143840
MSA_abbr_RIVERSIDE_CA            0.068807
MSA_abbr_ROCHESTER_NY           -0.029804
MSA_abbr_SALT_LAKE_CITY_UT      -0.212100
MSA_abbr_SANTA_ROSA_CA          -0.132098
MSA_abbr_SAN_ANTONIO_TX          0.098383
MSA_abbr_SAN_DIEGO_CA           -0.221482
MSA_abbr_SAN_FRANCISCO_CA        0.091797
MSA_abbr_SAN_JOSE_CA            -0.206806
MSA_abbr_SEATTLE_WA             -0.206547
MSA_abbr_SPOKANE_WA             -0.112933
MSA_abbr_SPRINGFIELD_MA         -0.162794
MSA_abbr_STOCKTON_CA             0.383552
MSA_abbr_ST_LOUIS_MO             0.384803
MSA_abbr_SYRACUSE_NY            -0.131966
MSA_abbr_TAMPA_FL               -0.018890
MSA_abbr_TOLEDO_OH               0.007885
MSA_abbr_TUCSON_AZ               0.158509
MSA_abbr_TULSA_OK                0.247671
MSA_abbr_VIRGINIA_BEACH_NC       0.245344
MSA_abbr_WASHINGTON_DC           0.060973
MSA_abbr_WICHITA_KS              0.000266
MSA_abbr_WINSTON_NC             -0.063310
MSA_abbr_WORCESTER_MA           -0.248985
MSA_abbr_YOUNGSTOWN_OH           0.088308
Length: 107, dtype: float64

lasso

Train R2                         0.813009
Test R2                          0.772510
MSA_abbr_ALBANY_NY              -0.219383
MSA_abbr_ALBUQUERQUE_NM          0.167594
MSA_abbr_ALLENTOWN_PA           -0.131981
MSA_abbr_ATLANTA_GA              0.220976
MSA_abbr_AUGUSTA_GA              0.311161
MSA_abbr_AUSTIN_TX              -0.171149
MSA_abbr_BAKERSFIELD_CA          0.289593
MSA_abbr_BALTIMORE_MD            0.597030
MSA_abbr_BATON_ROUGE_LA          0.763667
MSA_abbr_BIRMINGHAM_AL           0.540595
MSA_abbr_BOISE_ID               -0.252965
MSA_abbr_BOSTON_MA              -0.182792
MSA_abbr_BRADENTON_FL           -0.014107
MSA_abbr_BRIDGEPORT_CT          -0.141531
MSA_abbr_BUFFALO_NY              0.058153
MSA_abbr_CAPE_CORAL_FL           0.158752
MSA_abbr_CHARLESTON_SC           0.198637
MSA_abbr_CHARLOTTE_NC            0.076004
MSA_abbr_CHATANOOGA_TN           0.103073
MSA_abbr_CHICAGO_IL              0.179075
MSA_abbr_CINCINNATI_OH           0.012152
MSA_abbr_CLEVELAND_OH            0.127130
MSA_abbr_COLORADO_SPRINGS_CO     0.004989
MSA_abbr_COLUMBIA_SC             0.094118
MSA_abbr_COLUMBUS_OH             0.116006
MSA_abbr_Colorado Springs, CO   -0.021869
MSA_abbr_DALLAS_TX               0.036956
MSA_abbr_DAYTON_OH               0.105267
                                   ...
MSA_abbr_PORTLAND_OR            -0.254509
MSA_abbr_POUGHKEEPSIE_NY        -0.113276
MSA_abbr_PROVIDENCE_RI          -0.207091
MSA_abbr_PROVO_UT               -0.394393
MSA_abbr_RALEIGH_NC             -0.075466
MSA_abbr_RICHMOND_VA             0.149761
MSA_abbr_RIVERSIDE_CA            0.075925
MSA_abbr_ROCHESTER_NY           -0.015904
MSA_abbr_SALT_LAKE_CITY_UT      -0.200056
MSA_abbr_SANTA_ROSA_CA          -0.124983
MSA_abbr_SAN_ANTONIO_TX          0.106124
MSA_abbr_SAN_DIEGO_CA           -0.206981
MSA_abbr_SAN_FRANCISCO_CA        0.098298
MSA_abbr_SAN_JOSE_CA            -0.193614
MSA_abbr_SEATTLE_WA             -0.193361
MSA_abbr_SPOKANE_WA             -0.101187
MSA_abbr_SPRINGFIELD_MA         -0.148270
MSA_abbr_STOCKTON_CA             0.396894
MSA_abbr_ST_LOUIS_MO             0.398961
MSA_abbr_SYRACUSE_NY            -0.117104
MSA_abbr_TAMPA_FL               -0.003451
MSA_abbr_TOLEDO_OH               0.020320
MSA_abbr_TUCSON_AZ               0.167279
MSA_abbr_TULSA_OK                0.256954
MSA_abbr_VIRGINIA_BEACH_NC       0.256571
MSA_abbr_WASHINGTON_DC           0.071889
MSA_abbr_WICHITA_KS              0.011670
MSA_abbr_WINSTON_NC             -0.054757
MSA_abbr_WORCESTER_MA           -0.238207
MSA_abbr_YOUNGSTOWN_OH           0.095071
Length: 107, dtype: float64

bayes

Train R2                         0.813577
Test R2                          0.773319
MSA_abbr_ALBANY_NY              -0.244568
MSA_abbr_ALBUQUERQUE_NM          0.140541
MSA_abbr_ALLENTOWN_PA           -0.158041
MSA_abbr_ATLANTA_GA              0.190215
MSA_abbr_AUGUSTA_GA              0.277099
MSA_abbr_AUSTIN_TX              -0.193317
MSA_abbr_BAKERSFIELD_CA          0.256381
MSA_abbr_BALTIMORE_MD            0.554707
MSA_abbr_BATON_ROUGE_LA          0.713220
MSA_abbr_BIRMINGHAM_AL           0.501601
MSA_abbr_BOISE_ID               -0.274604
MSA_abbr_BOSTON_MA              -0.204149
MSA_abbr_BRADENTON_FL           -0.022170
MSA_abbr_BRIDGEPORT_CT          -0.162231
MSA_abbr_BUFFALO_NY              0.030792
MSA_abbr_CAPE_CORAL_FL           0.126046
MSA_abbr_CHARLESTON_SC           0.176016
MSA_abbr_CHARLOTTE_NC            0.055280
MSA_abbr_CHATANOOGA_TN           0.075832
MSA_abbr_CHICAGO_IL              0.159782
MSA_abbr_CINCINNATI_OH          -0.013436
MSA_abbr_CLEVELAND_OH            0.106346
MSA_abbr_COLORADO_SPRINGS_CO    -0.000688
MSA_abbr_COLUMBIA_SC             0.074106
MSA_abbr_COLUMBUS_OH             0.088566
MSA_abbr_Colorado Springs, CO   -0.051147
MSA_abbr_DALLAS_TX               0.013105
MSA_abbr_DAYTON_OH               0.078351
                                   ...
MSA_abbr_PORTLAND_OR            -0.275922
MSA_abbr_POUGHKEEPSIE_NY        -0.126904
MSA_abbr_PROVIDENCE_RI          -0.230674
MSA_abbr_PROVO_UT               -0.413331
MSA_abbr_RALEIGH_NC             -0.098568
MSA_abbr_RICHMOND_VA             0.129161
MSA_abbr_RIVERSIDE_CA            0.053640
MSA_abbr_ROCHESTER_NY           -0.045844
MSA_abbr_SALT_LAKE_CITY_UT      -0.223479
MSA_abbr_SANTA_ROSA_CA          -0.137334
MSA_abbr_SAN_ANTONIO_TX          0.081275
MSA_abbr_SAN_DIEGO_CA           -0.236418
MSA_abbr_SAN_FRANCISCO_CA        0.076331
MSA_abbr_SAN_JOSE_CA            -0.219698
MSA_abbr_SEATTLE_WA             -0.219305
MSA_abbr_SPOKANE_WA             -0.123361
MSA_abbr_SPRINGFIELD_MA         -0.177825
MSA_abbr_STOCKTON_CA             0.359388
MSA_abbr_ST_LOUIS_MO             0.360059
MSA_abbr_SYRACUSE_NY            -0.147324
MSA_abbr_TAMPA_FL               -0.038326
MSA_abbr_TOLEDO_OH              -0.009880
MSA_abbr_TUCSON_AZ               0.140329
MSA_abbr_TULSA_OK                0.228856
MSA_abbr_VIRGINIA_BEACH_NC       0.224309
MSA_abbr_WASHINGTON_DC           0.041986
MSA_abbr_WICHITA_KS             -0.016274
MSA_abbr_WINSTON_NC             -0.070007
MSA_abbr_WORCESTER_MA           -0.258206
MSA_abbr_YOUNGSTOWN_OH           0.072570
Length: 107, dtype: float64

huber

Train R2                         0.764492
Test R2                          0.712890
MSA_abbr_ALBANY_NY              -0.216309
MSA_abbr_ALBUQUERQUE_NM          0.168020
MSA_abbr_ALLENTOWN_PA           -0.137143
MSA_abbr_ATLANTA_GA              0.218097
MSA_abbr_AUGUSTA_GA              0.312663
MSA_abbr_AUSTIN_TX              -0.171092
MSA_abbr_BAKERSFIELD_CA          0.277242
MSA_abbr_BALTIMORE_MD            0.582611
MSA_abbr_BATON_ROUGE_LA          0.760055
MSA_abbr_BIRMINGHAM_AL           0.532901
MSA_abbr_BOISE_ID               -0.262905
MSA_abbr_BOSTON_MA              -0.196463
MSA_abbr_BRADENTON_FL           -0.090864
MSA_abbr_BRIDGEPORT_CT          -0.149791
MSA_abbr_BUFFALO_NY              0.053253
MSA_abbr_CAPE_CORAL_FL           0.182015
MSA_abbr_CHARLESTON_SC           0.198598
MSA_abbr_CHARLOTTE_NC            0.055928
MSA_abbr_CHATANOOGA_TN           0.119742
MSA_abbr_CHICAGO_IL              0.153664
MSA_abbr_CINCINNATI_OH           0.006700
MSA_abbr_CLEVELAND_OH            0.103627
MSA_abbr_COLORADO_SPRINGS_CO    -0.068843
MSA_abbr_COLUMBIA_SC             0.099867
MSA_abbr_COLUMBUS_OH             0.123597
MSA_abbr_Colorado Springs, CO   -0.024219
MSA_abbr_DALLAS_TX               0.042086
MSA_abbr_DAYTON_OH               0.098444
                                   ...
MSA_abbr_PORTLAND_OR            -0.254360
MSA_abbr_POUGHKEEPSIE_NY        -0.143325
MSA_abbr_PROVIDENCE_RI          -0.208959
MSA_abbr_PROVO_UT               -0.394111
MSA_abbr_RALEIGH_NC             -0.081589
MSA_abbr_RICHMOND_VA             0.137020
MSA_abbr_RIVERSIDE_CA            0.080615
MSA_abbr_ROCHESTER_NY           -0.008306
MSA_abbr_SALT_LAKE_CITY_UT      -0.211272
MSA_abbr_SANTA_ROSA_CA          -0.171046
MSA_abbr_SAN_ANTONIO_TX          0.101622
MSA_abbr_SAN_DIEGO_CA           -0.213793
MSA_abbr_SAN_FRANCISCO_CA        0.084324
MSA_abbr_SAN_JOSE_CA            -0.193602
MSA_abbr_SEATTLE_WA             -0.198754
MSA_abbr_SPOKANE_WA             -0.106758
MSA_abbr_SPRINGFIELD_MA         -0.146397
MSA_abbr_STOCKTON_CA             0.374781
MSA_abbr_ST_LOUIS_MO             0.375799
MSA_abbr_SYRACUSE_NY            -0.111982
MSA_abbr_TAMPA_FL               -0.001683
MSA_abbr_TOLEDO_OH               0.033619
MSA_abbr_TUCSON_AZ               0.182778
MSA_abbr_TULSA_OK                0.262397
MSA_abbr_VIRGINIA_BEACH_NC       0.263202
MSA_abbr_WASHINGTON_DC           0.046019
MSA_abbr_WICHITA_KS              0.002865
MSA_abbr_WINSTON_NC             -0.088695
MSA_abbr_WORCESTER_MA           -0.241177
MSA_abbr_YOUNGSTOWN_OH           0.103861
Length: 107, dtype: float64

In [21]:
def print_runtime():
    hours = int(str(end)[0:2])-int(str(start)[0:2])
    minutes = int(str(end)[3:5])-int(str(start)[3:5])
    seconds = int(str(end)[6:8])-int(str(start)[6:8])
    if hours < 0:
        hours = hours + 24
    if minutes < 0:
        minutes = minutes + 60
        hours = hours - 1
    if seconds < 0:
        seconds = seconds + 60
        minutes = minutes - 1
    print(hours, "hrs", minutes, "mins", seconds, "secs")

In [22]:
end = datetime.datetime.time(datetime.datetime.now())

In [23]:
print_runtime()

0 hrs 6 mins 4 secs